.loader-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	filter: blur(10px);
	background-image: url("../../../public/background.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.loader-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white !important;
}
